Repository nbraud/memtree: changes, and which Cirrus tasks are due for each by the changed paths.
All: Devour the Nix flake, Lint .cirrus.yml, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

Devour the Nix flake:
  env:
    CACHIX_CACHE_NAME: memtree
    CACHIX_AUTH_TOKEN: 'ENCRYPTED[80ed347b44a4127b859772f4455bea4085b4c245fcb 0a21587ae322cb3bcb1705d2f95dc5580fa2ce60dd3550db7e7cb]
  
      '
    USER: root
  container:
    image: nixery.dev/shell/cachix/git/nix/python3
  nix_config_file:
    path: /etc/nix/nix.conf
  ...

Lint .cirrus.yml:
  container:
    image: nixery.dev/shell/yamllint
  script: yamllint .cirrus.yml

Lint the Nix code:
  container:
    image: nixery.dev/shell/deadnix/jq
  deadcode_script: deadnix -h --fail --output-format json | jq -cf ./.ci/deadnix.jq > deadnix.json
  always:
    artifacts:
      path: '*.json'
      type: text/json
      format: cirrus

Check `extra-dependencies.nix` for extraneous definitions:
  container:
    image: nixery.dev/shell/cachix/git/nix/python3
  script: "EXTRANEOUS=\"$(cat $(nix build --print-out-paths --no-link .#extraneous))\"\n[ -z \"${EXTRANEOUS}\" ] || {\n  echo \"'extra-dependencies.nix' has extraneous definitions: ${EXTRANEOUS}\"\n  exit 1\n}\n"

fixup! CI: Disable nix's build sandbox
  .cirrus.yml
Due: Devour the Nix flake, Lint .cirrus.yml, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

Update for new `bork` version, now packaged in `nixpkgs` 🎉
  extra-dependencies.nix
  pyproject.toml
Due: Devour the Nix flake, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

Revert "CI: Check `extra-dependencies.nix` for extraneous definitions"
  .cirrus.yml
  flake.nix
Due: Devour the Nix flake, Lint .cirrus.yml, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

Move (most) `.nix` files under `/.nix`
  .cirrus.yml
  .nix/ci.nix
  .nix/extra-dependencies.nix
  .nix/package.nix
  flake.nix
  shell.nix
Due: Devour the Nix flake, Lint .cirrus.yml, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

Split linting and testing deps from dev ones
  .cirrus.yml
  .nix/ci.nix
  .nix/env.nix
  .nix/package.nix
  flake.nix
  pyproject.toml
  shell.nix
Due: Devour the Nix flake, Lint .cirrus.yml, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

direnv: use the flake
  .envrc
Due: none

flake.nix: subsume `shell.nix`
  flake.nix
  shell.nix
Due: Devour the Nix flake, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

colors.fixed_palette: Take input as `*args`
  memtree/colors.py
Due: none

colors.clip: Emit the warning at the location the color was called
  memtree/colors.py
Due: none

ruff: Adjust import style
  pyproject.toml
  tests/test_amount.py
Due: Devour the Nix flake

Switch to `ruff` for linting
  .nix/env.nix
  .nix/extra-dependencies.nix
  .nix/package.nix
  memtree/__init__.py
  memtree/colors.py
  pyproject.toml
  tests/test_amount.py
Due: Devour the Nix flake

Use `ruff` for formatting too
  .cirrus.yml
  memtree/__init__.py
  memtree/colors.py
  pyproject.toml
  tests/test_amount.py
Due: Devour the Nix flake, Lint .cirrus.yml, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

ruff: Enable pyupgrade rules
  pyproject.toml
Due: Devour the Nix flake

Add missing type annotations
  memtree/__init__.py
  memtree/cli.py
  memtree/colors.py
  pyproject.toml
  tests/test_amount.py
Due: Devour the Nix flake

memtree.colors.turbo_data: Validate during loading
  memtree/colors.py
Due: none

ruff: Require use of pathlib
  pyproject.toml
Due: Devour the Nix flake

Fix (most) type errors
  memtree/__init__.py
  memtree/__main__.py
  memtree/colors.py
Due: none

ruff: Forbid commented-out code
  pyproject.toml
Due: Devour the Nix flake

ruff: Enable simplification rules
  pyproject.toml
Due: Devour the Nix flake

ruff: Enable pytest-specific lints & fix issue
  pyproject.toml
  tests/test_amount.py
Due: Devour the Nix flake

ruff: Enable pylint rules
  memtree/colors.py
  pyproject.toml
  tests/test_amount.py
Due: Devour the Nix flake

ruff: Enable visibility rules
  memtree/colors.py
  pyproject.toml
Due: Devour the Nix flake

ruff: enable comprehension rules
  pyproject.toml
Due: Devour the Nix flake

ruff: Check control-flow conventions around `return`, fix as needed
  memtree/colors.py
  pyproject.toml
Due: Devour the Nix flake

ruff: Detect unused arguments
  pyproject.toml
Due: Devour the Nix flake

ruff: Enable performance rules
  pyproject.toml
Due: Devour the Nix flake

ruff: Enable pygrep-hook rules
  pyproject.toml
Due: Devour the Nix flake

ruff: Enable own rules
  pyproject.toml
Due: Devour the Nix flake

ruff: Split up the `flake8`-equivalent line
  pyproject.toml
Due: Devour the Nix flake

ruff: Sort & reindent rules list
  pyproject.toml
Due: Devour the Nix flake

Bork: build a redistributable zipapp
  pyproject.toml
Due: Devour the Nix flake

Renovate: update lockfile daily
  .github/renovate.json
Due: none

CI: Manage all dependencies and test scripts through the Nix flake
  .cirrus.yml
  .gitignore
  .nix/env.nix
  .nix/package.nix
  flake.nix
Due: Devour the Nix flake, Lint .cirrus.yml, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

env.nix: Factor-out `lib.*`, `python3`
  .nix/env.nix
Due: none

env.nix: Refactor processing of `groups`
  .nix/env.nix
Due: none

flake: Build outputs as part of `nix flake check`
  .cirrus.yml
  flake.lock
  flake.nix
Due: Devour the Nix flake, Lint .cirrus.yml, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

Add missing tools in default devShell
  flake.nix
Due: Devour the Nix flake, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

flake.nix: Separately define CI tasks
  .ci/tasks.json
  flake.nix
Due: Devour the Nix flake, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

flake.nix: Give the drvs more-helpful names
  .nix/env.nix
  flake.nix
Due: Devour the Nix flake, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

fixup! flake.nix: Separately define CI tasks
  flake.nix
Due: Devour the Nix flake, Lint the Nix code, Check `extra-dependencies.nix` for extraneous definitions

Path conditions:
  Devour the Nix flake: any of: .cirrus.yml, *.nix, flake.lock, pyproject.toml
  Lint .cirrus.yml: any of: .cirrus.yml
  Lint the Nix code: any of: .cirrus.yml, flake.lock, *.nix
  Check `extra-dependencies.nix` for extraneous definitions: any of: .cirrus.yml, extra-dependencies.nix, flake.*
